@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Allison&display=swap");

:root {
  --primary-color: #ba181b;
  --secondary-color: #e5383b;
  --background-color: #040507;
  --text-color: #f4f4f4;
  --nav-background: #000;
  --section-title-before: #dddddd;
  --nav-color: #ffffff;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: courgette, sans-serif, serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--nav-background);
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%232d2c2e' fill-opacity='0.5' fill-rule='evenodd'/%3E%3C/svg%3E");
  color: var(--text-color);
}
/* --- Navigation --- */
header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  overflow-y: auto;
  border: none;
}
nav {
  position: relative;
  height: 650px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav:hover {
  width: 200px;
  text-decoration: none;
}
nav ul {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 50px 30px 0 0;
}
nav ul li.active {
  background: var(--secondary-color);
}
nav ul li.active .icon {
  color: var(--text-color);
}
nav ul li:hover .icon {
  color: var(--text-color);
}

nav ul li {
  position: relative;
  list-style: none;
  text-align: center;
  background-color: var(--nav-background);
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 10px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
nav ul li a,
.changeNav ul li a {
  position: relative;
  display: flex;
  width: flex;
  color: var(--text-color);
  text-align: center;
  overflow-x: hidden;
  transition: width 0.5s;
  text-decoration: none;
}

nav ul li:hover {
  background: var(--secondary-color);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
nav ul li:hover a {
  text-decoration: none;
  color: var(--nav-color);
}

nav ul li a .icon {
  position: relative;
  display: block;
  color: var(--secondary-color);
  min-width: 60px;
  height: 30px;
  line-height: 30px;
}
nav ul li a .icon .bx {
  position: relative;
  font-size: 1.5rem;
  z-index: 1;
}
nav ul li a .icon .title {
  position: relative;
  display: block;
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
}
.changeNav {
  width: 100%;
  height: 100vh;
}

/* ------ Menu Bars ---------- */
.menu-bars {
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 10;
  display: inline;
  cursor: pointer;
  opacity: 1;
}
.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 2px;
  background-color: var(--text-color);
  margin: 8px 0;
  transition: 0.4s;
}
/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 8px);
}
/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}
/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

@media (max-width: 992px) {
  .navigation {
    left: -100%;
  }
}

/* --- End Navigation --- */

/* --- Loader  --- */
.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--background-color);
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* --- end Loader  --- */

/* ---- sections ------- */

section {
  width: 100%;
  height: 100vh;
  text-align: center;
}
/*---- Home Section -----*/
.home {
  align-items: center;
  text-align: start;
  width: 100%;
  height: 100vh;
  background-image: url("../Images/img.jpg");
  background-position: center center;
  background-size: 100% 100%;
  background-attachment: fixed;
  display: flex;
  position: relative;
}

.home h1 {
  margin: 0;
  font-size: 5rem;
  font-weight: 600;
  line-height: 56px;
  font-family: Allison;
  color: var(--text-color);
}

.home p {
  color: var(--text-color);
  line-height: 3;
  font-size: 26px;
  font-family: Courgette, sans-serif;
}

.home p span {
  color: var(--secondary-color);
  letter-spacing: 1px;
}
.home .social-links {
  margin-top: 30px;
}

.home .social-links a {
  font-size: 40px;
  display: inline-block;
  color: var(--text-color);
  margin-right: 35px;
  line-height: 1;
}
.home .social-links a:hover {
  text-decoration: none;
}

.youtube i {
  color: #c00;
}

.linkedin i {
  color: #0a66c2;
}
.github i {
  color: #fff;
  background: #000;
  border-radius: 25px;
}
.hackerrank i {
  color: #1ba94c;
}

.envelope i {
  color: #5fa8d3;
}

@media (max-width: 992px) {
  .home {
    text-align: center;
  }

  .home h1 {
    font-size: 32px;
    line-height: 36px;
  }

  .home p {
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
  }

  .home p:last-of-type {
    font-size: 14px;
    line-height: 24px;
  }

  .home .social-links a {
    font-size: 24px;
  }
}

/*---- End Home Section ---- */

/* End Sections */
