@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: courgette, sans-serif, serif;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #232c33;
}
/* --- Navigation --- */
.navigation {
  position: relative;
  height: 500px;
  width: 70px;
  background: #2b343b;
  box-shadow: 10px 0 0 #4187f6;
  border-left: 10px solid #2b343b;
  overflow-x: hidden;
  transition: width 0.5s;
}

.navigation:hover {
  width: 300px;
}
.navigation ul {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 50px;
}
.navigation ul li.active {
  background: #4187f6;
}
.navigation ul li {
  position: relative;
  list-style: none;
  text-align: center;
  width: 100%;
  padding: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.navigation ul li a {
  position: relative;
  display: flex;
  width: flex;
  text-decoration: none;
  color: #fff;
  text-align: center;
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 30px;
  line-height: 30px;
}
.navigation ul li a .icon .bx {
  position: relative;
  font-size: 1.5rem;
  z-index: 1;
}
.navigation ul li a .icon .title {
  position: relative;
  display: block;
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
}

/* --- End Navigation --- */

/* --- Loader  --- */
.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* --- end Loader  --- */
